@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300&display=swap");
.cont {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  justify-content: center;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 45vh;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  overflow-x: hidden;
  /* box-shadow: 0 70px 140px 0 rgba(130,136,171,.2); */
  font-family: "Poppins", sans-serif !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='6.4' stroke-opacity='0.33'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.card h3 {
  font-family: "Playfair Display", serif !important;
  font-weight: 600;
  font-size: 2em;
  padding: 10px 0;
}
.infoCard {
  /* display: flex;
    flex-direction: column;
    text-align: center; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  flex: 1;
}
.container {
  padding: 15px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.mid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
  justify-content: center;
  border-top: 1px solid #777;
  overflow: hidden;
  border-bottom: 1px solid #777;
}
.card h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  padding: 10px 0;
}
