.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.line {
  height: 2px;
  width: 20%;
  background: #f56375;
}
h1 {
  font-size: 3em;
  padding: 10px 0;
  font-family: "Playfair Display", serif !important;
  text-align: center;
}
.infoContainer {
  display: flex;
}
.infoContainer .card {
  display: flex;
  background: #a49cf4;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff !important;
  justify-content: center;
  width: 95%;
  height: 29vh;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
  color: #000 !important;
  overflow-x: hidden;
  box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.4);
  font-family: "Poppins", sans-serif !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='6.4' stroke-opacity='0.33'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
